.App {
  font-family: sans-serif;
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container input {
  width: 50%;
  margin: 10px 0px;
  height: 40px;
  border-style: solid;
  border-radius: 3px;
  border-width: 1px;
  padding: 0px 10px;
}
