body{
    margin: 0px;
}

.container{
    display: flex;
}

.item{
    flex-basis: 30%;
    padding: 20px 15px;
    text-align: center;
    
    /* transition-property: background-color, color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(.46,.08,.29,.86); 
    transition-delay: 0s;
    */    
    
    /* transition <property> <duration> <timing-function> <delay> */
    transition: all 0.5s cubic-bezier(.46,.08,.29,.86) 0s;
    cursor: text;
}

.item:nth-child(1){
    background-color: aqua;
}

.item:nth-child(2){
    background-color: brown;
    color: #FFF;
}

.item:nth-child(3){
    background-color: darkblue;
    color: #FFF;
}

.item:hover{
    background-color: #FFF;
    color: #000;
}