<h1>Agregar un producto</h1>
<form action="/add-product" method="POST">
    <input type="text" placeholder="nombre" name="name"/>
    <input type="text" placeholder="categoria" name="category"/>
    <input type="text" placeholder="descripción" name="description"/>
    <input type="text" placeholder="precio" name="price"/>
    <input type="text" placeholder="url de imagen" name="imgUrl"/>
    <button type="submit">Agregar</button>
</form>