<div class="row">
{{#each products}}
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img class="card-img-top" src={{imagen}} alt=""></a>
            <div class="card-body">
            <h4 class="card-title">
                <a href="#">{{nombre}}</a>
            </h4>
            <h5>{{precio}}</h5>
            <p class="card-text">{{descripcion}}</p>
            </div>
            <div class="card-footer">
            
            </div>
        </div>
    </div>
{{/each}}
</div>