<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}} - Academlo</title>
</head>
<body>
    {{{body}}}
    <button onclick="saludo()">Saludo</button>
    <script src="/js/index.js"></script>
</body>
</html>